[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule ".emacs.d/vendor/clojure-mode"]
	path = .emacs.d/vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/vendor/emacs-color-theme-solarized"]
	path = .emacs.d/vendor/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/vendor/swank-clojure-extra"]
	path = .emacs.d/vendor/swank-clojure-extra
	url = https://github.com/vu3rdd/swank-clojure-extra.git
[submodule ".emacs.d/vendor/popup"]
	path = .emacs.d/vendor/popup
	url = https://github.com/m2ym/popup-el
[submodule ".emacs.d/vendor/fuzzy"]
	path = .emacs.d/vendor/fuzzy
	url = https://github.com/m2ym/fuzzy-el.git
[submodule ".emacs.d/vendor/dtrt-indent"]
	path = .emacs.d/vendor/dtrt-indent
	url = git://git.savannah.nongnu.org/dtrt-indent.git
[submodule ".emacs.d/vendor/expand-region"]
	path = .emacs.d/vendor/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/vendor/ace-jump-mode"]
	path = .emacs.d/vendor/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule ".emacs.d/vendor/zenburn"]
	path = .emacs.d/vendor/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule ".emacs.d/vendor/solarized"]
	path = .emacs.d/vendor/solarized
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule ".emacs.d/vendor/cyberpunk-theme"]
	path = .emacs.d/vendor/cyberpunk-theme
	url = https://github.com/n3mo/cyberpunk-theme.el.git
[submodule ".emacs.d/vendor/dash.el"]
	path = .emacs.d/vendor/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/vendor/pkg-info.el"]
	path = .emacs.d/vendor/pkg-info.el
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule ".emacs.d/vendor/s.el"]
	path = .emacs.d/vendor/s.el
	url = https://github.com/magnars/s.el.git
[submodule ".emacs.d/vendor/cider"]
	path = .emacs.d/vendor/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule ".emacs.d/vendor/guru-mode"]
	path = .emacs.d/vendor/guru-mode
	url = https://github.com/bbatsov/guru-mode.git
