[apply]
	whitespace = nowarn
[user]
	name = Siddhartha Reddy
	email = siddhartha@flipkart.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[core]
	excludesfile = /Users/sids/.gitignore
	whitespace = cr-at-eol
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[alias]
	b = branch
	co = commit
	ch = checkout
	d = diff
	dt = difftool
	m = merge
	mergetool = mergetool
	s = status
	sh = show
	st = stash
	sts = stash save
	stl = stash list
	sta = stash apply
	stp = stash pop
	log1 = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %Cgreen(%cr) %C(cyan)<%an>%Creset %n %s %n' --abbrev-commit --date=relative
	fkp = "!f(){ [ \"$1\" == \"-nd\" ] && no=-nodeploy && shift; [ \"$1\" == \"-nb\" ] && no=-nobuild && shift; branch=$2 branch=${branch:=master}; [ \"$#\" -lt 1 ] && echo \"USAGE: git fkp [-nd|-nb] <env> <branch>\" && exit 1; set -x; git tag -m \"Promoting to $1.\" release/$1-$(date +%Y%m%d-%H%M%S)$no origin/$branch && git push --tags;};f"
	bc = !sh -c \"git log HEAD..$1\"
[push]
	default = tracking
[log]
	decorate = short
[merge]
	tool = diffmerge
[mergetool]
	keepBackup = false
[diff]
	tool = diffmerge
[github]
	user = sids
	token = 9a3466350f7251f91ba613cf3cc2efbbbdd3c02b
[credential]
	helper = osxkeychain
