[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/vendor/clojure-mode"]
	path = .emacs.d/vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/vendor/emacs-color-theme-solarized"]
	path = .emacs.d/vendor/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/vendor/slime"]
	path = .emacs.d/vendor/slime
	url = https://github.com/nablaone/slime.git
[submodule ".emacs.d/vendor/swank-clojure-extra"]
	path = .emacs.d/vendor/swank-clojure-extra
	url = https://github.com/vu3rdd/swank-clojure-extra.git
[submodule ".emacs.d/vendor/popup"]
	path = .emacs.d/vendor/popup
	url = https://github.com/m2ym/popup-el
[submodule ".emacs.d/vendor/fuzzy"]
	path = .emacs.d/vendor/fuzzy
	url = https://github.com/m2ym/fuzzy-el.git
[submodule ".emacs.d/vendor/dtrt-indent"]
	path = .emacs.d/vendor/dtrt-indent
	url = git://git.savannah.nongnu.org/dtrt-indent.git
[submodule ".emacs.d/vendor/expand-region"]
	path = .emacs.d/vendor/expand-region
	url = https://github.com/magnars/expand-region.el.git
