[apply]
	whitespace = nowarn
[user]
	name = Siddhartha Reddy
	email = sids@grok.in
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[merge]
	tool = diffmerge
	summary = true
[core]
	excludesfile = /Users/sids/.gitignore
	whitespace = cr-at-eol
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustexitcode = false
[alias]
	b = branch
	co = commit
	ch = checkout
	d = diff
	dt = difftool
	m = merge
	mergetool = mergetool
	s = status
	sh = show
	st = stash
	sts = stash save
	stl = stash list
	sta = stash apply
	stp = stash pop
	log1 = log --oneline --decorate
